.feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-auto-rows: auto;

    grid-gap: 1rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .feed {
      display: block;
    }
  }